language: php

# faster builds on new travis setup not using sudo
sudo: false

php:
  - 7.1
  - 7.2

install:
  - travis_retry composer install --prefer-source --no-interaction

script:
  - vendor/bin/codecept run